In [32]:
import os
import pandas as pd

# read in the data
file_path = os.path.realpath('../Project/Assets/iris.csv')
iris = pd.read_csv(file_path)

iris.head(10)

   sepal_length   sepal_width   petal_length   petal_width        class
0           5.1           3.5            1.4           0.2  Iris-setosa
1           4.9           3.0            1.4           0.2  Iris-setosa
2           4.7           3.2            1.3           0.2  Iris-setosa
3           4.6           3.1            1.5           0.2  Iris-setosa
4           5.0           3.6            1.4           0.2  Iris-setosa
5           5.4           3.9            1.7           0.4  Iris-setosa
6           4.6           3.4            1.4           0.3  Iris-setosa
7           5.0           3.4            1.5           0.2  Iris-setosa
8           4.4           2.9            1.4           0.2  Iris-setosa
9           4.9           3.1            1.5           0.1  Iris-setosa

I'm noticing that the class column writes out the full genus-species names which seems unneccessary moving forward seeing as the dataset will continue to only contain flowers of the Iris genus. I will instead rename the class column 'species' and update the values to species-name.

In [33]:
# renaming columns
column_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
iris.columns = column_names

# renaming genus-species to species
species_names = {"Iris-setosa": "setosa", "Iris-versicolor": "versicolor", "Iris-virginica": "virginica"}   # create a dictionary of the species names
iris["species"] = iris["species"].map(species_names)                                                        # map the species names to the new names

iris.tail(5)

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [34]:
# index=False prevents pandas to write row index into the csv file, will still be added when reading the csv file
iris.to_csv('iris_clean.csv', index=False)  # save the cleaned data to a new csv file